:root {
	--urlbar-container-height: 20px !important;
	--urlbar-height: 20px !important;
	--urlbar-toolbar-height: 20px !important;
	--urlbar-min-height: 20px !important;
	--urlbar-icon-padding: 0px !important;
	--toolbar-start-end-padding: 4px !important;
	--toolbarbutton-inner-padding: 2px !important;
	--toolbarbutton-outer-padding: 2px !important;
	--toolbarbutton-border-radius: 0px !important;
	--bookmark-block-padding: 2px !important;
	--toolbar-field-background-color: var(--toolbar-bgcolor) !important;
}
tab-item {
	padding: 2px;
}
#personal-toolbar-empty-description, #PersonalToolbar .toolbarbutton-1, toolbarbutton.bookmark-item:not(.subviewbutton) {
	margin: 0px !important;
	padding: 0 !important;
}

.urlbar-icon {
	width: 12px !important;
	height: 12px !important;
}
toolbar .toolbarbutton-1 > .toolbarbutton-icon {
	/* width: 16px !important; */
	/* height: 16px !important; */
}

#nav-bar {
	height: 20px !important;
}

#urlbar {
	min-height: 20px !important;
}
#urlbar[breakout] {
	top: 0 !important;
	/* height: 20px !important; */
}
#urlbar[breakout][breakout-extend] {
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
	height: var(--urlbar-height) !important;
}

#urlbar-background {
	border: 0 !important;
}

#urlbar-container {
	min
}
#urlbar-container, #search-container {
	padding-block: 0 !important;
	margin-inline: 0 !important;
	min-height: 20px !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
	padding-block: 0 !important;
	padding-inline: 0 !important;
}

.tab-line {
	display: none;
}

.tab {
	border: solid 1px #00000012; 
}

.sidebar-splitter {
	width: 1px !important;
}

#main-window #TabsToolbar {
	visibility: collapse;
}
