[submodule "config/vim/pack/plugins/start/janet.vim"]
	path = config/vim/pack/plugins/start/janet.vim
	url = git@github.com:janet-lang/janet.vim.git
[submodule "config/vim/pack/plugins/start/zig.vim"]
	path = config/vim/pack/plugins/start/zig.vim
	url = git@github.com:ziglang/zig.vim.git
[submodule "config/vim/pack/plugins/start/lsp"]
	path = config/vim/pack/plugins/start/lsp
	url = git@github.com:yegappan/lsp.git
[submodule "config/vim/pack/plugins/start/vim-surround"]
	path = config/vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "config/vim/pack/plugins/start/vim-commentary"]
	path = config/vim/pack/plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
