:root {
	--url-and-searchbar-background-color: var(--chrome-secondary-background-color) !important;
	--lwt-toolbar-field-background-color: var(--chrome-secondary-background-color) !important;
	--tab-min-height: 0 !important;
	--toolbarbutton-inner-padding: 2 !important;
	--toolbarbutton-border-radius: 0 !important;
}
#nav-bar {
	padding: 0 !important;
}
#urlbar, .searchbar-textbox {
	margin: 0 !important;
	border: 0 !important;
	min-height: 0 !important;
	height: 19px !important ;
}
.tab-content {
	padding: 0 2px !important;
}
#titlebar, #tabbrowser-tabs {
	--tab-min-height: 22px !important;
}
