* {
    border: none;
    border-radius: 0;
    font-family: Adwaita Mono;
    font-size: 13px;
    min-height: 0;
    color: #D8D8D8;
}

#waybar {
    background: #181818;
    color: #D8D8D8;
}

#workspaces button {
    padding: 0px 2px;
}

#workspaces button:hover {
    background: #181818;
    box-shadow: inset 0 -1px #ffffff;
}
#workspaces button.active {
    background: #383838;
}
#workspaces button.urgent {
    background: #AF3029;
}
#wireplumber, #tray, #cpu, #clock, #privacy {
    padding: 0 10px;
}
